$authorWidth: 100px;
$hashWidth: 60px;
$createdWidth: 75px;
$repositoriesWidth: 100px;
$iconWidth: 28px;
$scrollbarWidth: 16px;
$codeFontSize: 13px;
$lineNumberWidth: 42px;

$tableWidth: $authorWidth + $hashWidth + $createdWidth + $repositoriesWidth + 3 * $iconWidth + $scrollbarWidth;
